.wp-block-makeiteasy-popup {
	.makeiteasy-popup-overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		> .alignwide {
			max-width: var(--wp--style--global--wide-size);
			width: 100%;
		}
	}

	&.popup-modal {
		position: fixed;
		inset: 0;
		max-width: none;

		.makeiteasy-popup-overlay {
			width: 100%;
			height: 100%;
			background: #2227;
		}
	}

	visibility: hidden;

	&.is-open {
		visibility: visible;
	}

	.makeiteasy-popup-close {
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 2px 2px;
		margin: 0 0 0 1ch;
		align-self: flex-start;

		svg {
			fill: var(--wp--preset--color--black, #000);
			pointer-events: none;
		}

		&:focus-visible {
			outline: var(--wp--preset--color--contrast, #242424) 1px solid;
		}
	}

	&.popup-floating {
		position: fixed;
		max-width: none;

		.makeiteasy-popup-overlay {
			position: absolute;
		}

		&,
		.makeiteasy-popup-overlay {
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	.makeiteasy-popup-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 3px 4px 3px 8px;

		//  add chevron
		// &::before {
		// 	content: url("./assets/chevron.svg");
		// 	display: block;
		// 	position: absolute;
		// 	top: -1.25rem;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }

		.popup-position-above::before {
			top: auto;
			bottom: -1.2rem;
			transform: translateX(-50%) rotateX(180deg);
		}
	}

	&.popup-fixed {
		.makeiteasy-popup-wrapper {
			position: absolute;
			bottom: 0;
			width: 100%;
			box-sizing: border-box;
			justify-content: center;
		}

		.makeiteasy-popup-close {
			flex: none;
		}

		.makeiteasy-popup-content-wrapper.is-content-justification-center + .makeiteasy-popup-close {
			position: absolute;
			right: 3ch;
		}
	}

	.makeiteasy-popup-content-wrapper {
		align-items: center;
		width: 100%;

		&.is-content-justification-left {
			margin-left: 0;
			margin-right: auto;
		}
		&.is-content-justification-right {
			margin-right: 0;
			margin-left: auto;
		}
	}

	&.popup-attached {
		margin-top: 0;
		position: fixed;
		inset: 0;
		margin: 0 !important;
		max-width: none;

		.makeiteasy-popup-overlay {
			position: absolute;
			inset: 0;
		}

		.makeiteasy-popup-wrapper {
			position: absolute;
			top: 0;
		}

		.popup-position-above .makeiteasy-popup-wrapper {
			top: auto;
			bottom: 0;
		}
	}
}

body.has-floating-popup {
	overflow: hidden;
}
